@import 'src/theme/Theme';

.tracker-calendar-container .react-calendar__tile--active {
    color: rgb(97, 212, 14);
}

.tracker-calendar-container .react-calendar__tile {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid $lightestGrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tracker-calendar-container .react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(147, 142, 142);
}