$primary: #3D405B;
$secondary: #81B29A;
$white: #FFFFFF;
$lightestGrey: #EEEEEE;

:export {
    primaryColor: $primary;
    secondaryColor: $secondary;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

